

<div id="product-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
          <% if defined? title  %>
            <%=  title  %>
          <%end  %>
        </h4>
      </div>

      <%= form_for(@uploader) do |f| %>
        <% if @uploader.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@uploader.errors.count, "error") %> prohibited this uploader from being saved:</h2>
            <ul>
            <% @uploader.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="container">
       <div class="col-lg-6 col-sm-6 col-12">
         <h4>Please select a file:</h4>
         <div class="input-group">
           <label class="input-group-btn">
             <span class="btn btn-primary">
               Browse&hellip; <%= f.file_field :path, class:"uploader", required: 'required', style:"display: none" %>
             </span>
           </label>
           <%= f.hidden_field :is_health_care_indicators %>
           <input type="text" class="form-control uploader-display" readonly>
         </div>
         <br>
         <% unless @uploader.is_health_care_indicators %>
           <p>This form is to upload Indicator Data. Please follor this 3 step Process</p>
           <p>1. Download this template file: XXXX.XLSX</p>
           <p>2. Edit the Data and change the file name to be [indicator].xlsx</p>
           <p>3. Upload the new file</p>
          <% else %>
            <p>This form is to upload Health Care 2.0 Indicators Data. Please follor this 3 step Process</p>
           <p>1. Download this template file: XXXX.XLSX</p>
           <p>2. Edit the Data and change the file name to be [file].xlsx</p>
           <p>3. Upload the new file</p>
          <% end %>
       </div>
     </div>

        <div class="modal-footer">
          <div class="text-center">
            <%= f.submit 'Upload file now', class: "btn-custom" %>
          </div>
        </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
