<%= form_for(@uploader) do |f| %>
  <% if @uploader.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@uploader.errors.count, "error") %> prohibited this uploader from being saved:</h2>

      <ul>
      <% @uploader.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if params[:previous_uploader] && @uploader.errors.empty?  %>
    <div id="error_explanation">
      <h2>One error prohibited this uploader from being saved:</h2>
      <ul>
        <li>A file with the indicator of the file you are trying to upload already exists. Please replace it. See the indicator <%= link_to 'link', resource_path(@previous_uploader.id) if @previous_uploader %></li>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <h4>Please select a file:</h4>
      <div class="input-group">
        <label class="input-group-btn">
        <span class="btn btn-primary">

        Browse&hellip; <%= f.file_field :path, class:"uploader", style:"display: none" %>
        </span>
        </label>

        <input type="text" class="form-control uploader-display" readonly>
      </div>
      <br>
      <p>This form is to be used for Indicator Data Only. There is a 3 step Process</p>
      <p>1. Download this template file: XXXX.XLS</p>
      <p>2. Edit the Data and change the file name to be [indicator].xls</p>
      <p>3. Upload the new file</p>
    </div>
  </div>

  <div class="modal-footer">
    <div class="text-center">
      <%= f.submit 'Upload File', class: "btn-custom" %>
    </div>
  </div>
<% end %>
