<!-- <p id="notice"><%= notice %></p> -->

<h1>Indicatos View</h1>
<%= link_to 'Replace indicators', edit_uploader_path(@uploader), class: 'btn btn-primary btn-xs', remote: true if @uploader %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Uploader_id</th>
      <th>Indicator</th>
      <th>Category</th>
      <th>Most Recent Year</th>
      <th>Priority Population</th>
      <th>Priority Population Most Recent Year</th>
      <th>2020 Target</th>
      <th>Datasource</th>

      <th>created_at</th>
      <th>updated_at</th>
    </tr>
  </thead>

  <tbody>
    <% @indicators.each do |indicator| %>
      <tr>
        <td><%= indicator.id %></td>
        <td><%= indicator.uploader_id %></td>
        <td><%= indicator.name %></td>
        <td><%= indicator.category %></td>
        <td><%= indicator.most_recent_year %></td>
        <td><%= indicator.priority_population %></td>
        <td><%= indicator.priority_population_most_recent_year %></td>
        <td><%= indicator.target %></td>
        <td><a href="<%= indicator.datasource_url %>"><%= indicator.datasource %></a></td>
        <td><%= indicator.created_at %></td>
        <td><%= indicator.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= will_paginate @indicators %>
<br>
<%= link_to 'View Uploaders', uploaders_path, :class => "btn-custom"%>
