<p id="notice"><%= notice %></p>

<h1>Listing Uploaders</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Status</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @uploaders.each do |uploader| %>
      <tr>
        <td><%= uploader.id %></td>
        <td><%= uploader.path %></td>
        <td><%= uploader.status %></td>
        <td><%= link_to 'Show', uploader %></td>
        <td><%= link_to 'Edit', edit_uploader_path(uploader) %></td>
        <td><%= link_to 'Destroy', uploader, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div style="" id="progress-bar" class="col-md-12">
  <div class="progress">
    <div id="job-progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">0%</div>
  </div>
</div>

<br>

<%= link_to 'New Uploader', new_uploader_path %>
