<div class="container">
  <div class="col-xs-12">
    <% if @uploaders.count > 0 %>
    <br>
    <h1>Listing Uploaders</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aperiam eum voluptates fugit assumenda nobis totam magnam iusto mollitia impedit, odio dolores quis reiciendis, modi odit veniam. Natus, maxime, hic.</p>
    <br>
    <table class="table table-striped table-hover uploaders">
      <thead>
        <tr>
          <!-- <th>Id</th> -->
          <th>File</th>
          <th>Status</th>
          <th>Total</th>
          <th>Processed</th>
          <!-- <th>Show</th> -->
          <th><!--View--></th>
          <th><!--Edit--></th>
          <th><!--Destroy--></th>
        </tr>
      </thead>

      <tbody>
        <% @uploaders.each do |uploader| %>
          <tr>
            <!-- <td><%= uploader.id %></td> -->
            <td>
              <a class="btn btn-primary btn-sm" href="<%= uploader.path %>">
                <%= uploader.name %>
                <i class="fa fa-download" aria-hidden="true"></i>
              </a>
            </td>
            <td><%= uploader.status %></td>
            <td><%= uploader.total_row %></td>
            <td><%= uploader.current_row %></td>
            <!-- <td><%= link_to 'Show', uploader_path(uploader) %></td> -->
            <td><%= link_to 'View', resource_path(uploader.id), class: 'btn btn-primary btn-xs'  %></td>
            <td><%= link_to 'Edit', edit_uploader_path(uploader), class: 'btn btn-primary btn-xs' %></td>
            <td><%= link_to '<i class="glyphicon glyphicon-remove-circle"></i>'.html_safe, uploader, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <% else %>
    <h1>Add your First Document</h1>
    <% end %>

    <%= link_to "New file upload <i class='fa fa-2 fa-cloud-upload' aria-hidden='true'></i>".html_safe , new_uploader_path, remote: true, class: "btn-custom" %>
  </div>
</div>
