<p id="notice"><%= notice %></p>

<h1>Listing Uploaders</h1>

<table class="bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Status</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @uploaders.each do |uploader| %>
      <tr>
        <td><%= uploader.id %></td>
        <td><a href="<%= uploader.path %>"><%= uploader.name %></a></td>
        <td><%= uploader.status %></td>
        <td><%= link_to 'Show', uploader %></td>
        <td><%= link_to 'Edit', edit_uploader_path(uploader) %></td>
        <td><%= link_to 'Destroy', uploader, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Uploader', new_uploader_path %>
