<!-- <p id="notice"><%= notice %></p> -->

<h1>Data View Resources</h1>
<%= link_to 'Replace file', edit_uploader_path(@uploader), class: 'btn btn-primary btn-xs', remote: true if @uploader %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>Zip Code</th>
      <th>Community Area</th>
      <th>Categories</th>
      <th>Phone</th>
      <th>Program URL</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= resource.id %></td>
        <td><%= resource.program_name %></td>
        <td><%= resource.address %></td>
        <td><%= resource.city %></td>
        <td><%= resource.zip %></td>
        <td><%= resource.community_area_name %></td>
        <td><%= resource.categories %></td>
        <td><%= resource.phone %></td>
        <td><a href="<%= resource.program_url %>" target='_blank'><%= resource.program_url != "NULL" ? resource.program_url : nil %></a></td>
        <td><%= resource.latitude %></td>
        <td><%= resource.longitude %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= will_paginate @resources %>
<br>
<%= link_to 'View Uploaders', uploaders_path, :class => "btn-custom"%>
