- title 'About'
.row-fluid
  .span12
    %h1 About

    %p
      %a.pull-right{:href => 'http://www.smartchicagocollaborative.org'}
        %img(src="/assets/logo_smartchicago.png")
      The Chicago Health Atlas is a Web site for displaying aggregate health-related information on a map so that people can see the prevalence of specific health conditions in their area and find out how they can improve their health. 

    %p
      The 
      %a{:href => 'http://www.smartchicagocollaborative.org'}Smart Chicago Collabrative 
      is working with the 
      %a{:href => 'http://www.cityofchicago.org/city/en/depts/cdph.html'} Chicago Department of Public Health 
      and five local hospitals through 
      %a{:href => 'http://chitrec.org/'} Chicago Health Information Technology Regional Extension (CHITREC) 
      to 
      %a{:href => 'http://www.cityofchicago.org/city/en/depts/cdph/provdrs/pol_plan_report/svcs/office_of_epidemiologydataanalysisrequests.html?cq_ck=1338570736462'} visualize statistics related to public health 
      along with anonymized diagnoses, medications, and laboratory tests as provided by local healthcare institutions. The project is funded by the 
      = succeed '.' do
        %a{:href => 'http://www.spragueinstitute.org/'} Otho S. A. Sprague Memorial Institute
    %hr
    %h3#about-the-data About the data

    %p
      We currently have three types of data on the Health Atlas:

    %ol
      %li
        = succeed '.' do
          %a{:href => 'http://www.cityofchicago.org/city/en/depts/cdph/provdrs/pol_plan_report/svcs/office_of_epidemiologydataanalysisrequests.html'} Statistics related to public health in Chicago
        We obtain this information from the 
        = succeed '.' do
          %a{:href => 'http://www.cityofchicago.org/city/en/depts/cdph/provdrs/pol_plan_report/svcs/office_of_epidemiologydataanalysisrequests.html'}City of Chicago’s Open Data Portal
        The data is provided by the Chicago Department of Public Health's Epidemiology & Public Health Informatics Program
      %li
        %a{:href => 'https://github.com/smartchicago/chicago-atlas/blob/master/db/import/chitrec_data_2006-2012.csv'} Anonymized clinical diagnosis information 
        provided by CHITREC and its partners. Details on this data was presented at the 
        = succeed '.' do
          %a{:href => 'http://www.amia.org/amia2012/theater-style-demonstration'} American Medical Informatics Association (AMIA) National Symposium here in Chicago on November 6
        See the 
        = succeed '.' do
          %a{:href => 'http://www.smartchicagocollaborative.org/projects/chicago-health-atlas/'} Smart Chicago project page for a description of that talk
      %li
        <a href='http://purplebinder.com/developers'>Data about clinics, programs, and other resources</a> that can be of use to people who want to improve their health. This data is provided by <a href='http://purplebinder.com/'>Purple Binder</a>, a Chicago-based company providing a directory of social services providers and software to connect patients with the resources they need for better outcomes in health and life.
    %p
      All of the data on the Health Atlas is available for download. Downloads are in the form of CSVs, excel files, or JSON (JavaScript Object Notation). JSON is a lightweight, JavaScript-based data format that is easy to read and write. JSON is a convenient format for data sharing because it's easy for computers to parse and generate - especially in Ruby, the programming language that Chicago Health Atlas is built on.
    %p
      %b NOTE:
      This site provides applications using data that has been modified for use from its original source, 
      = succeed ',' do
        %a{:href => 'https://www.cityofchicago.org'} www.cityofchicago.org
      the official website of the City of Chicago. The City of Chicago makes no claims as to the content, accuracy, timeliness, or completeness of any of the data provided at this site. The data provided at this site is subject to change at any time. It is understood that the data provided at this site is being used at one’s own risk.
    %h3#contact-us Contact us

    %p
      Do you have data to share, questions about our work, or just want to hear more? Contact Daniel X. O'Neil at (773) 960-6045 or 
      %a{:href => 'mailto:doneil@cct.org'} doneil@cct.org 
      today.
