- content_for :javascripts do
  = javascript_include_tag "leaflet"
  = javascript_include_tag "leaflet_lib"

  :javascript
    var geojsonFeature = {
        "type": "Feature",
        "properties": {
            "name": "#{@zip.name}",
            "density": "100"
        },
        "geometry": #{@zip.geometry}
    };

    LeafletLib.initialize("map", { geojson: geojsonFeature }, #{@zip.centroid_as_lat_lng}, 14);

#map