.row-fluid
  .span12
    %h2 Partners
    %p 
      %b Our partners are the cornerstone of Chicago Health Atlas. 
      Initially, the Atlas was built on an existing partnership by informatics researchers at five major academic health centers in Chicago: 
      = succeed ',' do
        %a{:href => 'http://www.uic.edu/uic/'}University of Illinois at Chicago
      = succeed ',' do
        %a{:href => 'http://www.cookcountyhhs.org/locations/john-h-stroger-jr-hospital/'}Stroger Hospital
      = succeed ',' do
        %a{:href => 'http://www.uchicago.edu/'}University of Chicago
      = succeed ',' do
        %a{:href => 'http://www.northwestern.edu/'}Northwestern University
      and 
      = succeed '.' do
        %a{:href => 'http://www.rushu.rush.edu/'}Rush University
      Since that time, the Atlas has been expanded to include data and researchers from the Chicago Department of Public Health and soon, community-based organizations and other data contributing entities. The Atlas is a growing organic tool that relies heavily on partner participation and we are eager to continue this work with 
      %a{:href => 'partner_sign_up'}new partners 
      in the future.
      %hr
    %ul.partners
      %li


        %img.pull-right(src="/assets/logo_partner_chitrec.png"width="250")
        %h4 CHITREC / Feinberg School of Medicine, Northwestern University
        %h5 Dr. Abel Kho, Co-Executive Director of CHITREC
        %p
          Dr. Abel Kho is a Co-Executive Director of the Chicago Health Information Technology Regional Extension Center (CHITREC), where he contributes leadership efforts and extensive research experience in medical informatics and health information technology. A practicing physician of internal medicine at Northwestern Memorial Hospital and Northwestern Medical Faculty Foundation, he understands the significance of collecting health data to inform primary care providers, as well as epidemiologists and the public health community. Dr. Kho’s investigative team led the development of the hash algorithm and coordination of institutional partnerships for the Chicago Health Atlas.
      %li
        %img.pull-right(src="/assets/logo_partner_vanderbilt.png")
        %h4 Vanderbilt University
        %h5 Brad Malin, PhD, Privacy and Security Expert

        %p
          Early in the planning process, we recognized the need to maintain the anonymity of the patients, as well as the care providers, while retaining patient uniqueness. Dr. Malin’s expertise was critical to advise and audit the development process of re-identification risk. Dr. Malin has compared the performance of the hashing and matching software across institutions using the gold standard of an internal Enterprise Master Patient Index used for routine clinical care. He continues to audit and oversee aspects of data collection and maintenance according to HIPAA and IRB regulations.
      %li
        %img.pull-right(src="/assets/logo_partner_alliance.png")
        %h4 Alliance of Chicago Community Health Services, L3C
        %h5 Erin Kaleba, MPH, Director of Research Initiatives

        %p
          Erin Kaleba is the site investigator for the Alliance of Chicago Community Health Services. The Alliance is a network of 32 community health centers (CHCs) with more than 180 sites in 11 states with a strategic focus on health information technology and a commonly owned infrastructure through which participating CHCs can share resources to promote efficiency, quality and access.  As a key element of this infrastructure, the Alliance centrally hosts an electronic health record system. The Alliance’s Data Team has extracted data from four Alliance Health Centers to contribute to the Chicago Health Atlas.
      %li
        %img.pull-right(src="/assets/logo_partner_rush.png")
        %h4 Rush University Medical Center
        %h5 Shannon Sims, MD, PhD
        %p
          Dr. Sims is Associate Chief Medical Informatics Officer at Rush University Medical Center.  Dr. Sims’ leads the data warehouse/analytics team, clinical decision support, meaningful use, and quality measurement efforts at Rush.  Dr. Sims has extensive research experience in informatics topics including quality measurement, public health informatics, and care coordination.  He serves as the Rush site lead for the Chicago Health Atlas, where he and his investigative team contribute patient data.
      %li
        %img.pull-right(src="/assets/logo_partner_cchhs.png")
        %h4 Cook County Health & Hospital System
        %h5 Bala Hota, MD
        %p
          Dr. Hota is a practicing physician at Cook County Health & Hospitals System with extensive research experience in infectious disease epidemiology. His investigative team has contributed data to the Chicago Health Atlas project.
      %li
        %img.pull-right(src="/assets/logo_partner_uofc.png")
        %h4 University of Chicago
        %h5 David Meltzer, MD, PhD

        %p
          Dr. Meltzer is the Lead Investigator for the Chicago Health Atlas at the University of Chicago. He is a practicing physician at with a rich history of research in health economics and outcomes research in the inpatient setting. His investigative team has contributed data to the Chicago Health Atlas project.
      %li
        %img.pull-right(src="/assets/logo_partner_uofihhss.png"width="400")
        %h4 University of Illinois Hospital and Health Sciences System
        %h5 Bill Galanter, MS, MD, PhD
        %p
          Dr. Galanter is a practicing general internist at the University of Illinois Hospital & Health Sciences System (UI-Health). He has extensive research experience in clinical informatics and medication safety. He leads UI-Health’s contribution of data and analysis to the Chicago Health Atlas project.
      %li
        %img.pull-right(src="/assets/logo_partner_cdph.png"width="250")
        %h4 Chicago Department of Public Health
        %p
          One of the key initiatives of Healthy Chicago is for the Chicago Department of Public Health (CDPH) to make epidemiologic data available electronically so that Chicago’s residents, community organizations, researchers, students, and members of the media have flexibility in defining and answering questions, and engaging in public health problem-solving.  CDPH’s Epidemiology and Public Health Informatics Program collaborates in the Chicago Health Atlas by supplying public health indicator data sets via the City Data Portal and supporting efforts to visualize the data in ways that are most meaningful.

    %h3 Become a partner
    %p
      If you are a health data provider and would like to take part in this project, please fill out our
      %a{:href => 'partner_sign_up'} Partner Form.
    %p
      Questions? Contact Kyla Williams of the Smart Chicago Collabrative, at 
      %a{:href => 'mailto:kwilliams@cct.org'} kwilliams@cct.org