%h1 Hospitals in Chicago

= raw(render_source_links( 'Illinois Health Facilities and Services Review Board', 'http://www.hfsrb.illinois.gov/HospProf_ABR.htm', 'https://github.com/datamade/chicago-atlas/blob/e6169124587041c36d034ec2dc75932fe5108437/db/import/hospital_source_data.xlsx?raw=true', true))

<br><br>

.row-fluid
    .span6
        %h3 General Hospitals
        - @hospitals.where("sub_type = 'General Hospital'").order("name").each do |hospital|
            %a{:href => "/hospitals/#{hospital.slug}"} #{hospital.name} <br>
        %h3 Children's Hospitals
        - @hospitals.where("sub_type like 'Children%'").order("name").each do |hospital|
            %a{:href => "/hospitals/#{hospital.slug}"} #{hospital.name} <br>
        %h3 Rehabilitation Hospitals
        - @hospitals.where("sub_type like 'Rehabilitation%'").order("name").each do |hospital|
            %a{:href => "/hospitals/#{hospital.slug}"} #{hospital.name} <br>
        %h3 Psychiatric Hospitals
        - @hospitals.where("sub_type like 'Psychiatric%'").order("name").each do |hospital|
            %a{:href => "/hospitals/#{hospital.slug}"} #{hospital.name} <br>
        %h3 Uncategorized
        - @hospitals.where("sub_type is NULL").order("name").each do |hospital|
            %a{:href => "/hospitals/#{hospital.slug}"} #{hospital.name} <br>
    .span6
        .well
            - locationlist = []
            - contentlist = []
            - @hospitals.each do |hospital|
                - locationlist << hospital.lat_long.split(",").map{|x| x.to_f}
                - contentlist << "<b><a href='/hospitals/"+hospital.slug+"'>"+hospital.name+"</a></b>"
            - content_for :javascripts do
                = javascript_include_tag "leaflet"
                = javascript_include_tag "leaflet_lib"
                :javascript
                    var pins = [];
                    for (var i in #{locationlist}){
                        marker = L.marker(#{locationlist}[i])
                        marker.bindPopup(#{contentlist}[i])
                        pins.push(marker)
                    }
                    LeafletLib.initialize("map_large", { markers: pins }, [41.8819, -87.6278], 13);
            #map_large
                %p [map goes here]
