%h1 #{@hospital.name}
%h3 #{@hospital.sub_type}

.row-fluid
	.span8
		%p hospital description here
		%p phone number here
		%a website here
		- admissions_by_race = fetch_provider_data(@hospital.src_id, "Admissions by Race")
		- admissions_by_ethnicity = fetch_provider_data(@hospital.src_id, "Admissions by Ethnicity")
		- admissions_by_type = fetch_sorted_provider_data(@hospital.src_id, "Admissions by Type")
		- medsurg_admissions_by_age = fetch_provider_data(@hospital.src_id, "Medical-Surgical Admissions By Age")
		- total_admissions = admissions_by_race[:values].sum
		- revenue_inpatient = fetch_provider_data(@hospital.src_id, "Inpatient Revenue by Payment Type")
		- inpatient_total = revenue_inpatient[:values].sum
		- revenue_outpatient = fetch_provider_data(@hospital.src_id, "Outpatient Revenue by Payment Type")
		- outpatient_total = revenue_outpatient[:values].sum
		- total_revenue = inpatient_total + outpatient_total
		.row-fluid
			.span6
				%h4 Total Admissions in 2012
				%p.big-text #{total_admissions.to_i.to_s.gsub(/\B(?=(\d{3})+(?!\d))/, ",")}
			.span6
				%h4 Total Revenue in 2012
				%p.big-text $#{total_revenue.to_i.to_s.gsub(/\B(?=(\d{3})+(?!\d))/, ",")}
	.span4
		.well
			%p map here
			%p #{@hospital.addr_street} <br> #{@hospital.addr_city}, IL #{@hospital.addr_zip}
			%a{:href => "https://maps.google.com/maps?f=d&hl=en&geocode=&daddr=#{@hospital.addr_street}+#{@hospital.addr_city},+IL+#{@hospital.addr_zip}"} <button class="btn">Get Directions</button>
.row-fluid
	.span12
		%h3 Inpatient Hospital Admissions
		%p Inpatient hospital admissions data in 2012.
.row-fluid
	.span12
		%h4#admissions-by-type Admissions by Service Category
		%p
		- chart_id = "chart_admissions_type"
		.chart{:id => chart_id}
		- content_for :javascripts do
			:javascript
				$(function () {

					var seriesData = [{
						data: #{admissions_by_type[:values]},
						name: "Admissions"
					}];
					ChartHelper.create("#{chart_id}", "column", seriesData, "", "", "", "count", #{admissions_by_type[:stats]});
				});
.row-fluid
	.span8
		%h4 Admissions by Race
		- chart_id = "chart_admissions_race"
		.chart{:id => chart_id}
		- content_for :javascripts do
			:javascript
				$(function () {

					var seriesData = [{
						data: #{admissions_by_race[:values]},
						name: "Admissions"
					}];
					ChartHelper.create("#{chart_id}", "column", seriesData, "", "", "", "count", #{admissions_by_race[:stats]});
				});
	.span4
		%h4 Admissions by Ethnicity
		- chart_id = "chart_admissions_ethnicity"
		.chart{:id => chart_id}
		- content_for :javascripts do
			:javascript
				$(function () {

					var seriesData = [{
						data: #{admissions_by_ethnicity[:values]},
						name: "Admissions"
					}];
					ChartHelper.create("#{chart_id}", "column", seriesData, "", "", "", "count", #{admissions_by_ethnicity[:stats]});
				});
- if medsurg_admissions_by_age[:values].sum > 0
	.row-fluid
		.span12
			%h4#medsurg-admissions-by-age Medical-Surgical Admissions - by Age
			%p
			- chart_id = "chart_admissions_age"
			.chart{:id => chart_id}
			- content_for :javascripts do
				:javascript
					$(function () {

						var seriesData = [{
							data: #{medsurg_admissions_by_age[:values]},
							name: "Admissions"
						}];
						ChartHelper.create("#{chart_id}", "column", seriesData, "", "", "", "count", #{medsurg_admissions_by_age[:stats]});
					});

.row-fluid
	.span12
		%h3 Hospital Finances
		%p Inpatient and outpatient revenue data over the reporting period from #{revenue_inpatient[:start_date].strftime("%m/%d/%y")} to #{revenue_inpatient[:end_date].strftime("%m/%d/%y")}.
.row-fluid
	.span4
		%h4#revenue-total Finance Summary
		%p Description
		- charity_care = fetch_provider_data(@hospital.src_id, "Actual Cost Charity Care")
		- inpatient_cc = charity_care[:values][charity_care[:stats].index('Charity Care - Inpatient')]
		- outpatient_cc = charity_care[:values][charity_care[:stats].index('Charity Care - Outpatient')]
		.chart{:id => "rev_total"}
		- content_for :javascripts do
			:javascript
				$(function () {
					var seriesData = [
						{data: [#{outpatient_total}, #{outpatient_cc}], name: "Outpatient"},
						{data: [#{inpatient_total}, #{inpatient_cc}], name: "Inpatient"}
					]
					ChartHelper.create("rev_total", "column", seriesData, "", "", "", "money", ["Total Revenue", "Total Cost of Charity Care"], true);
				});
	.span8
		%h4#revenue-combined Revenue by Source
		%p Description
		.chart{:id => "rev_combined"}
		- content_for :javascripts do
			:javascript
				$(function () {

					var seriesData = [
						{data: #{revenue_outpatient[:values]},
						name: "Outpatient Revenue"},
						{data: #{revenue_inpatient[:values]},
						name: "Inpatient Revenue"}];
					ChartHelper.create("rev_combined", "column", seriesData, "", "", "", "money", #{revenue_inpatient[:stats]}, true);
				});
