<div class="row text-center">
  <h2> Login </h2>
</div>


<%= form_for(resource, as: resource_name, :html => {:class=>"form-horizontal"}, url: session_path(resource_name )) do |f| %>
  <div class="form-group">
    <%= f.label :email%>
    <%= f.email_field :email, autofocus: true, :class=> "form-control", :placeholder=>"Email"%>
  </div>

  <div class="form-group">
    <%= f.label :password%>
    <%= f.password_field :password, autocomplete: "off", :class=> "form-control", :placeholder=>"Password"%>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
        <div class="checkbox">
          <label>
            <%= f.check_box :remember_me %> Remember me
          </label>
      </div>
    </div>
  <% end -%>

  <div class="form-group">
      <%= f.submit "Log in", :class=>"btn btn-default"%>
  </div>

<% end %>

<%= render "devise/shared/links" %>
