<!-- <p id="notice"><%= notice %></p> -->

<h1>Resources View</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Uploader_id</th>
      <th>Category_group_id</th>
      <th>Sub_Category_id</th>
      <th>Indicator_id</th>
      <th>Year</th>
      <th>Geo_group_id</th>
      <th>demo_group_id</th>
      <th>number</th>
      <th>cum_number</th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= resource.id %></td>
        <td><%= resource.uploader_id %></td>
        <td><%= resource.category_group.name %></td>
        <td><%= resource.sub_category.name %></td>
        <td><%= resource.indicator.name %></td>
        <td><%= resource.year%></td>
        <td><%= resource.geo_group.name %></td>
        <td><%= resource.demo_group.name %></td>
        <td><%= resource.number %></td>
        <td><%= resource.cum_number%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= will_paginate @resources %>
<br>

<%= link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i> Go back'.html_safe , uploaders_path, :class => "btn-custom"%>
