.span6

  %h3
    = dataset.name
    %small
      = dataset.stat_name

  - chart_stats = stats_as_array(dataset.id, @geography.id, dataset.stat_name)
  - chart_id = "chart_#{dataset.id}_#{dataset.stat_name.parameterize.underscore.to_sym}"

  .chart{:id => chart_id}
  - content_for :javascripts do
    
    :javascript
      $(function () {

        var seriesData = [{
          color: colorHash[(#{dataset.id} % 7)],
          data: [#{chart_stats[:data]}],
          name: "#{dataset.stat_name}"
        }];


        ChartHelper.create("#{chart_id}", "column", seriesData, Date.UTC(#{chart_stats[:start_year]}, 0, 1), "year", null);
      });
