
- if show_header
  %h3{:id => dataset.slug}
    = dataset.name
    %small
      %a{ :href => "/place/#{@geography.slug}/#{dataset.slug}" } details &raquo;

.span4
  %p 
    = dataset.description
    %small
      %br
      (
      - if dataset.url != ''
        source:
        %a{:href => dataset.url} 
          = dataset.provider
        |
      %a{ :href => @geography.slug + '/' + dataset.slug + '.json'}
        %i.icon.icon-download-alt
        raw data
      )

.span7
  - chart_stats = fetch_chart_data(dataset.id, @geography.id)
  - chicago_avg_stats = fetch_chart_data(dataset.id, 100) # ID for Chicago
  - chart_id = "chart_#{dataset.id}_#{dataset.slug}"

  .chart{:id => chart_id}

  - if chart_stats[:error_bars] == 'count'
    - content_for :javascripts do
      
      :javascript
        $(function () {

          var seriesData = [{
            color: colorHash[(#{dataset.id} % 7)],
            type: 'line',
            data: #{chart_stats[:data]},
            name: "#{geography.name}"
          }];

          ChartHelper.create("#{chart_id}", "line", seriesData, Date.UTC(#{chart_stats[:start_year]}, 1, 1), "", "year", "#{dataset.stat_type}");
        });
  - elsif dataset.stat_type.include? 'range'
    - content_for :javascripts do
      
      :javascript
        $(function () {

          var seriesData = [{
            color: colorHash[(#{dataset.id} % 7)],
            type: 'column',
            data: #{chart_stats[:data]},
            name: "#{geography.name}"
          }, {
            color: "#666",
            type: 'column',
            data: #{chicago_avg_stats[:data]},
            name: "Chicago"
          }
          ];

          ChartHelper.create("#{chart_id}", "column", seriesData, Date.UTC(#{chart_stats[:start_year]}, 1, 1), "#{chart_stats[:year_range]}", "year", "#{dataset.stat_type.gsub('range, ', '') }");
        });
  - elsif dataset.slug.include? 'crime'
    - content_for :javascripts do
      
      :javascript
        $(function () {

          var seriesData = [{
            color: colorHash[(#{dataset.id} % 7)],
            type: 'line',
            data: #{chart_stats[:data]},
            name: "#{geography.name}"
          },{
            color: "#666",
            type: 'line',
            data: #{chicago_avg_stats[:data]},
            name: "Chicago"
          }
          ];


          ChartHelper.create("#{chart_id}", "line", seriesData, Date.UTC(#{chart_stats[:start_year]}, 1, 1), "", "year", "#{dataset.stat_type}");
        });
  - else
    - content_for :javascripts do
      
      :javascript
        $(function () {

          var seriesData = [{
            color: colorHash[(#{dataset.id} % 7)],
            type: 'line',
            data: #{chart_stats[:data]},
            name: "#{geography.name}"
          },{
            name: 'Confidence interval',
            type: 'errorbar',
            data: #{chart_stats[:error_bars]},
            tooltip: {
              pointFormat: '(Confidence interval: {point.low}-{point.high} mm)<br/>'
            }
          }, {
            color: "#666",
            type: 'line',
            data: #{chicago_avg_stats[:data]},
            name: "Chicago"
          }
          ];


          ChartHelper.create("#{chart_id}", "line", seriesData, Date.UTC(#{chart_stats[:start_year]}, 1, 1), "", "year", "#{dataset.stat_type}");
        });

.clearfix
