%h3
  Population

.span4
  %p Population from 1999 - 2011 by sex.

.span7
  - demographic_male = fetch_demographic_sex_data('MALE', @geography.id)
  - demographic_female = fetch_demographic_sex_data('FEMALE', @geography.id)
  - chart_id = "chart_demographics_sex"

  .chart{:id => chart_id}

  - content_for :javascripts do
    
    :javascript
      $(function () {

        var seriesData = [{
          color: colorHash[0],
          data: #{demographic_male[:data]},
          name: "Male"
        },
        {
          color: colorHash[1],
          data: #{demographic_female[:data]},
          name: "Female"
        }
        ];

        ChartHelper.create("#{chart_id}", "area", "", seriesData, Date.UTC(#{demographic_male[:start_year]}, 1, 1), "", "year", "count");
      });

.clearfix

.span4
  %p Population from 1999 - 2011 by age.

.span7
  - age_groups = ['00-04','05-14','15-24','25-34','35-44','45-54','55-64','65-74','75-84','85+']
  - age_data = []
  - age_groups.each do |age_group|
    - age_data << {'name' => age_group, 'data' => fetch_demographic_age_data(age_group, @geography.id)[:data]}

  - chart_id = "chart_demographics_age"

  .chart{:id => chart_id}

  - content_for :javascripts do
    
    :javascript
      $(function () {

        var seriesData = #{ActiveSupport::JSON.encode(age_data)};

        ChartHelper.create("#{chart_id}", "area", "", seriesData, Date.UTC(#{demographic_male[:start_year]}, 1, 1), "", "year", "count");
      });

.clearfix