- @category = Category.where("name = 'Demographics'").first

.row-fluid
  .span12
    %h2#population Population

    %p
      Total population, broken down by age groups for 2000 and 2010.
      = raw(render_source_links( 'US Census, as prepared by the Chicago Department of Public Health', 'https://github.com/datamade/chicago-atlas/blob/master/db/import/population_estimates_1999_2011.csv', '/place/demographic/'+@geography.slug+'.json', 1))

    - demographic_age_2000 = fetch_demographic_age_data(2000, @geography.id)
    - demographic_age_2010 = fetch_demographic_age_data(2010, @geography.id)
    - chart_id = "chart_demographics_age"

    .chart{:id => chart_id}

    - content_for :javascripts do
      
      :javascript
        $(function () {

          var seriesData = [{
            data: #{demographic_age_2000},
            name: "2000"
          },
          {
            data: #{demographic_age_2010},
            name: "2010"
          }
          ];

          ChartHelper.create("#{chart_id}", "column", seriesData, Date.UTC(2000, 1, 1), "", "decade", "count", #{GlobalConstants::AGE_GROUPS});
        });