%h3 #{chart_title}

- insurance_area = fetch_custom_chart_data(geography.id, chart_group, [])
- insurance_chicago = fetch_custom_chart_data(100, chart_group, [])

.chart{:id => chart_id}

- content_for :javascripts do
  
  :javascript
    $(function () {

      var seriesData = [{
        data: #{insurance_area},
        name: "#{geography.name}",
        color: "#66A61E"
      },
      {
        data: #{insurance_chicago},
        name: "Chicago",
        color: "#666"
      }
      ];

      ChartHelper.create("#{chart_id}", "column", seriesData, Date.UTC(2008, 1, 1), "", "decade", "percent", #{chart_headers});
    });