%h3 #{chart_title}

- insurance_area = fetch_insurance_data(geography.id, category.id, chart_group)
- insurance_chicago = fetch_insurance_data(100, category.id, chart_group)

.chart{:id => chart_id}

- content_for :javascripts do
  
  :javascript
    $(function () {

      var seriesData = [{
        data: #{insurance_area},
        name: "#{geography.name}",
        color: "#66A61E"
      },
      {
        data: #{insurance_chicago},
        name: "Chicago",
        color: "#666"
      }
      ];

      ChartHelper.create("#{chart_id}", "column", seriesData, Date.UTC(2008, 1, 1), "", "decade", "count", #{chart_headers});
    });