- cat = Category.find_by_name(chart_title)
/ anchor tags for linking to combined chart from map
- Dataset.where(:category_id => cat.id).each do |dataset|
  %span{:id => "#{cat.name} #{dataset.name}".parameterize.underscore}
  
%h3 #{chart_title}
%p
  = cat.description

  = raw(render_source_links('American Community Survey 2008-2012, processed by Rob Paral and Associates', 'https://github.com/smartchicago/chicago-atlas/blob/master/db/import/health_insurance_by_community_area_2008-2012.csv', '/place/insurance/' + cat.name + '/' + geography.slug + '.json'))


- insurance_area = fetch_custom_chart_data(geography.id, cat.id, nil, [])
- insurance_chicago = fetch_custom_chart_data(100, cat.id, nil, [])

.chart{:id => chart_id}

- content_for :javascripts do
  
  :javascript
    $(function () {

      var seriesData = [{
        data: #{insurance_area},
        name: "#{geography.name}",
        color: "#66A61E"
      },
      {
        data: #{insurance_chicago},
        name: "Chicago",
        color: "#666"
      }
      ];

      ChartHelper.create("#{chart_id}", "column", seriesData, Date.UTC(2008, 1, 1), "", "decade", "percent", #{chart_headers});
    });