- if @geography.has_category("All Uninsured")
  .row-fluid
    .span12
      %h2#insurance Health Insurance

      %p Percent of population that does not have health insurance from 2008-2012. <br />

      = render :partial => "geography/insurance_chart", :locals => {:geography => @geography, :chart_title => 'All Uninsured', :chart_id => 'chart_insurance_all', :chart_headers => ['All Uninsured'] }

      = render :partial => "geography/insurance_chart", :locals => {:geography => @geography, :chart_title => 'Uninsured By Age', :chart_id => 'chart_insurance_age', :chart_headers => ['0 to 17', '18 to 64', '65 and over'] }

      = render :partial => "geography/insurance_chart", :locals => {:geography => @geography, :chart_title => 'Uninsured By Race', :chart_id => 'chart_insurance_race', :chart_headers => ['White', 'Latino', 'Black', 'Asian'] }

      = render :partial => "geography/insurance_chart", :locals => {:geography => @geography, :chart_title => 'Uninsured By Nativity', :chart_id => 'chart_insurance_nativity', :chart_headers => ['Native-Born', 'Foreign-Born', 'Foreign-Born Citizen', 'Foreign-Born Noncitizen'] }

      = render :partial => "geography/insurance_chart", :locals => {:geography => @geography, :chart_title => 'Uninsured By School Enrollment', :chart_id => 'insurance_by_school_enrollment', :chart_headers => ['All 19 to 25', 'Enrolled in School 19 to 25', 'Not Enrolled in School 19 to 25'] }

      = render :partial => "geography/insurance_chart", :locals => {:geography => @geography, :chart_title => 'Uninsured By Income', :chart_group => 'Health Insurance By Income', :chart_id => 'insurance_by_income', :chart_headers => ['Under 138% of Poverty Line', '138 to 199% of Poverty Line', '200 to 399% of Poverty Line', '400% and over Poverty Line'] }