- if @geography.has_category("Healthcare Providers")
  - @category = Category.where("name = 'Healthcare Providers'").first

  - chart_headers = []
  - Dataset.where(:category_id => @category.id).each { |dataset| chart_headers << dataset.name }

  / anchor tags for linking to combined chart from map
  - chart_headers.each do |header|
    %span{:id => "Healthcare Providers #{header}".parameterize.underscore}

  %h2#providers Healthcare Providers

  %p 
    Number of healthcare providers by profession per 1,000 residents.
    = raw(render_source_links( 'Health Resources and Services Administration, processed by Rob Paral and Associates', 'http://datawarehouse.hrsa.gov/data/datadownload/pcsa2010Download.aspx', '/place/providers/'+@geography.slug+'.json', 1))

  - chart_id = 'chart_providers'
  - providers_area = fetch_custom_chart_data(geography.id, nil, nil, chart_headers)
  - providers_chicago = fetch_custom_chart_data(100, nil, nil, chart_headers)

  .chart{:id => chart_id}

  - content_for :javascripts do
    
    :javascript
      $(function () {

        var seriesData = [{
          data: #{providers_area},
          name: "#{geography.name}",
          color: "#7570B3"
        },
        {
          data: #{providers_chicago},
          name: "Chicago",
          color: "#666"
        }
        ];

        ChartHelper.create("#{chart_id}", "column", seriesData, Date.UTC(2010, 1, 1), "", "decade", "rate", #{chart_headers});
      });