- if @geography.has_category("Healthcare Providers")
  - chart_headers = ["Dentists", "Primary Care Physicians", "Specialist Physicians","OB-GYN Physicians","Primary Care Residents and Fellows","Specialist Residents and Fellows","OB-GYN Residents and Fellows"]

  / anchor tags for linking to combined chart from map
  - chart_headers.each do |header|
    %span{:id => "Healthcare Providers #{header}".parameterize.underscore}

  %h2#providers Healthcare Providers

  %p 
    Number of healthcare providers by profession per 1,000 residents.
    <br />Source: <a href='http://datawarehouse.hrsa.gov/data/datadownload/pcsa2010Download.aspx'>Health Resources and Services Administration</a> as processed by <a href='http://www.robparal.com/'>Rob Paral and Associates</a>.

  - chart_id = 'chart_providers'
  - providers_area = fetch_custom_chart_data(geography.id, nil, nil, chart_headers)
  - providers_chicago = fetch_custom_chart_data(100, nil, nil, chart_headers)

  .chart{:id => chart_id}

  - content_for :javascripts do
    
    :javascript
      $(function () {

        var seriesData = [{
          data: #{providers_area},
          name: "#{geography.name}",
          color: "#7570B3"
        },
        {
          data: #{providers_chicago},
          name: "Chicago",
          color: "#666"
        }
        ];

        ChartHelper.create("#{chart_id}", "column", seriesData, Date.UTC(2010, 1, 1), "", "decade", "rate", #{chart_headers});
      });