- title 'Places'
.row-fluid
  .span12
    %h1
      Places

    %p.lead
      Chicago Health Atlas contains lots of citywide data from a wide variety of sources. You can browse different types of info by <a href='#community-area'>community area</a> and <a href='#zipcode'>zip code</a>.

    %hr
    .row
    %h3#community-area Community area
    %p
      View info on births, crime, deaths, environmental health, and infectious disease by choosing one of the 77 official community areas in Chicago. All of this data is supplied by the Chicago Department of Public Health. It is comprehensive data, including all people in the city.

    - @community_areas.each do |geography|
      .span4
        %h4
          %a{:href => "/place/#{geography.slug}"}
            = geography.name
          %small
            (
            %a{:href => "/place/#{geography.slug}/resources"}
              resources
            )

    .row
    %hr
    %h3#zipcode Zip codes
    %p
      View info on nine types of chronic disease by choosing a zip code. All of this data is supplied by a number of health care providers. It includes six hospitals systems, so it is not complete.

    - @zip_codes.each do |geography|
      .span4
        %h4
          %a{:href => "/place/#{geography.slug}"}
            = geography.name
          %small
            (
            %a{:href => "/place/#{geography.slug}/resources"}
              resources
            )