- title 'Resources - ' + @geography.name
.row-fluid
  .span12

    %h1
      #{@geography.name}
      - if @dataset.nil?
        %small Resources
      - else
        %small #{@dataset.name}

    %a{:href => "/place/#{@geography.slug}"} &laquo; back to #{@geography.name}

.row-fluid
  .span4
    %h3 
      Categories
      .pull-right
        %a.btn.btn-default{:href => "#"} List
    %ul.nav.nav-tabs.nav-stacked#categories

  .span8
    #map_resources

    %table.table.table-hover
      %thead
        %tr
          %td Name
          %td Address
          %td Phone
      %tbody#intervention_list

- content_for :javascripts do
  = javascript_include_tag "leaflet"
  = javascript_include_tag "leaflet_lib"
  = javascript_include_tag "mustache"
  = javascript_include_tag "resources"

  :javascript
    ResourcesLib.init(#{@geography.geometry}, #{@geography.centroid_as_lat_lng}, '#{@dataset_url_fragment}');