.row-fluid
  .span9

    %h1
      = @geography.name
      %small
        = @geography.geo_type

    %hr

    :javascript
      var colorHash = ["#A6761D", "#7570B3", "#D95F02", "#66A61E", "#E7298A", "#E6AB02", "#1B9E77"];

    - @categories.each do |category|
      = render :partial => "geography/category", :locals => {:category => category, :geography => @geography}

  .span3
    .well
      %h3 Conditions
      %ul
        - @categories.each do |category|
          %li
            %a{:href => "##{category.name.parameterize.underscore}"} 
              = category.name