.row-fluid
  .span10

    %h1
      = #{@dataset.name} in #{@geography.name}

    %hr

    :javascript
      var colorHash = ["#A6761D", "#7570B3", "#D95F02", "#66A61E", "#E7298A", "#E6AB02", "#1B9E77"];

    = render :partial => "geography/dataset", :locals => { :dataset => @dataset, :geography => @geography }

    %a{:href => "/place/#{@geography.slug}"} All Datasets for #{@geography.name}

.row-fluid
  .span10
    - content_for :javascripts do
      = javascript_include_tag "leaflet"
      = javascript_include_tag "leaflet_lib"

      :javascript
        var geojsonFeature = {
            "type": "Feature",
            "geometry": #{@geography.geometry}
        };

        LeafletLib.initialize("map_detail", { geojson: geojsonFeature }, #{@geography.centroid_as_lat_lng}, 13);

        var interventions = #{@intervention_locations};

        var clinicIcon = L.icon({
            iconUrl: '/assets/firstaid.png',
            shadowUrl: '/assets/square-shadow.png',
            iconSize:     [32, 37],
            shadowSize:   [51, 37],
            shadowAnchor: [16, 16]            
        });

        for(var i=0;i<interventions.length;i++){
          LeafletLib.addMarker(
            new L.Marker(
              new L.LatLng( interventions[i][2], interventions[i][3] ),
              { icon: clinicIcon }
            )
          );
        }
        LeafletLib.filterMarkers({ geojson: geojsonFeature });

    #map_detail
