.row-fluid
  .span8

    %h1
      = @geography.name

    %hr

    :javascript
      var colorHash = ["#A6761D", "#7570B3", "#D95F02", "#66A61E", "#E7298A", "#E6AB02", "#1B9E77"];

    = render :partial => "geography/demographics", :locals => {:geography => @geography }

    - @categories.each do |category|
      = render :partial => "geography/category", :locals => {:category => category, :geography => @geography }

  .span4
    .well
      - content_for :javascripts do
        = javascript_include_tag "leaflet"
        = javascript_include_tag "leaflet_lib"

        :javascript
          var geojsonFeature = {
              "type": "Feature",
              "geometry": #{@geography.geometry}
          };

          LeafletLib.initialize("map_detail", { geojson: geojsonFeature }, #{@geography.centroid_as_lat_lng}, 13);

          var clinicIcon = L.icon({
              iconUrl: '/assets/firstaid.png',
              shadowUrl: '/assets/square-shadow.png',
              iconSize:     [32, 37],
              shadowSize:   [51, 37],
              shadowAnchor: [16, 16]            
          });

          var bounds = [LeafletLib.latmax, LeafletLib.lngmax, LeafletLib.latmin, LeafletLib.lngmin];
          bounds[0] = (bounds[0] + "").replace(".",",");
          bounds[1] = (bounds[1] + "").replace(".",",");
          bounds[2] = (bounds[2] + "").replace(".",",");
          bounds[3] = (bounds[3] + "").replace(".",",");

          var markers = [];
          $.getJSON("/interventions/" + bounds.join("/") + ".json", function(interventions){
            for(var i=0;i<interventions.length;i++){
              markers[i] = (new L.Marker(
                new L.LatLng( interventions[i][2], interventions[i][3] ),
                { icon: clinicIcon }
              )).bindPopup("<b>" + interventions[i][0] + "</b><br/>" + interventions[i][1])
            }
            $('#resource_count').html('(' + markers.length + ')');
          });

          function toggle_markers(){
            if ($(this).is(':checked')) {
              for(var i=0;i<markers.length;i++){
                LeafletLib.map.removeLayer(markers[i]);
              }
              $(this).attr('checked', false);
            }
            else {
              for(var i=0;i<markers.length;i++){
                LeafletLib.addMarker(markers[i]);
              }
              $(this).attr('checked', true);
            }
          }

          $(function() {
            $('#toggle_markers').click(function(){
              toggle_markers();
            });
          });

          $('.demo-info').popover();


      #map_detail
      %br
      %label.checkbox
        %input#toggle_markers{:type => 'checkbox'} 
          %span 
            Show local resources
            %span#resource_count

      %h3 Demographics

      %table.table
        %tr
          %td Population
          %td
            2010: #{number_with_delimiter @geography.population(2010)} #{raw @geography.population_change(2000,2010)}
            %br
            2000: #{number_with_delimiter @geography.population(2000)}

        %tr
          %td 
          %td 
            Male: #{@male_percent}%
            %br
            Female: #{@female_percent}%

        - @demographics_list.each do |name|
          - demo = @geography.demographic_by_name(name)
          - unless demo.nil?
            %tr.demo-info{ :rel => "popover", :title => name, :"data-content" => demo.description, :"data-trigger" => 'hover', :"data-html" => 'true', :"data-placement" => 'left' }
              %td
                = name
              %td
                = format_statistic(demo.value, demo.stat_type)

      %h3 Conditions
      %ul
        - @categories.each do |category|
          %li
            %a{:href => "##{category.name.parameterize.underscore}"} 
              = category.name
