<%= form_for(@spread_sheet) do |f| %>
  <% if @spread_sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spread_sheet.errors.count, "error") %> prohibited this spread_sheet from being saved:</h2>

      <ul>
      <% @spread_sheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :src %><br>
    <%= f.file_field :src %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
