!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? (yield(:title) + " - Chicago Health Atlas") : "Chicago Health Atlas"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    %link{:href => "assets/favicon.ico", :rel => "shortcut icon"}/
    = stylesheet_link_tag "http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"
    /[if lte IE 8]
      = stylesheet_link_tag "http://cdn.leafletjs.com/leaflet-0.7.7/leaflet.ie.css"

    = stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Raleway:400,800"
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Muli"
  %body{:class => content_for?(:title) ? (yield(:title)) : ""}
    .navbar
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="/") Chicago Health Atlas
          
          .container.nav-collapse
            %ul.nav.pull-right
              %li{:class => current_menu_class("home")}
                %a{:href => "/"} Home
              %li{:class => current_menu_class("map")}
                %a{:href => "/map"} Map
              %li{:class => current_menu_class("places")}
                %a{:href => "/places"} Places
              %li{:class => current_menu_class("hospitals")}
                %a{:href => "/hospitals"} Hospitals
              %li{:class => current_menu_class("partners")}
                %a{:href => "/partners"} Partners
              %li{:class => current_menu_class("about")}
                %a{:href => "/about"} About
  
    #container-primary.container
          
      = yield
    %footer.footer
      .container
        %p.pull-left.logomark
          Chicago Health Atlas
        %p.pull-right
          = succeed ' / ' do
            %a{:href => "http://twitter.com/smartchicago", :target => "_blank"} @smartchicago
          %a{:href => "https://github.com/smartchicago/chicago-atlas/"} Github
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
    = content_for :javascripts
    = javascript_include_tag "analytics_lib" if Rails.env.production?
